.navbar-container {
  flex-direction: row;
  justify-content: space-between;
  width: "full";
}

.navbar-logo {
  width: 90px;
  height: 55px;
}

.menu-button-icon {
  width: 24px;
  height: 24px;
}
.menu-button {
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}
